sudo: false

language: php

php:
- 7.0

env:
- TYPO3_VERSION="^7.6"
- TYPO3_VERSION="^8.7"

matrix:
  exclude:

cache:
  directories:
  - .Build/vendor
  - $HOME/.composer/cache

before_install:
- phpenv config-rm xdebug.ini

install:
- composer require-typo3-version "$TYPO3_VERSION"
- git checkout .
- export TYPO3_PATH_ROOT=$PWD/.Build/public

before_script:
#  - cd ..
#  - mkdir typo3.cms
#  - cd typo3.cms
#  - cp ../phpunit/Tests/Build/composer.json .
#  - composer require typo3/cms="$TYPO3"
#  - ./typo3cms install:setup --non-interactive --database-user-name="root" --database-host-name="localhost" --database-port="3306" --database-name="travis_test" --admin-user-name="admin" --admin-password="password" --site-name="Travis Install"
#  - ln -s ../../../phpunit typo3conf/ext/phpunit
#  - ./typo3cms extension:install phpunit
#  - >
#    for extension in aaa bbb ccc ddd user_phpunittest user_phpunittest2; do
#      ln -s ../../../phpunit/TestExtensions/$extension typo3conf/ext/$extension
#      ./typo3cms extension:install $extension
#    done
#  # This is needed as long as 7.6.1 isn't released due to wrong slot settings within the core
#  # This can be removed with the release of 7.6.1
#  - ./typo3cms extension:dumpclassloadinginformation || echo "FAILED"
#  - mysql -u root travis_test -e "INSERT INTO be_users (username, password) VALUES ('_cli_phpunit', 'password')"

script:
- >
  echo;
  echo "Linting all PHP files";
  composer ci:php:lint;

#  - php typo3/cli_dispatch.phpsh phpunit -c typo3conf/ext/phpunit/Tests/Build/UnitTests.xml
