parameters:
	ignoreErrors:
		-
			message: "#^PHPDoc tag @param has invalid value \\(mixed &\\$arg1 first argument given to method \\$methodName\\)\\: Unexpected token \"&\", expected variable at offset 198$#"
			count: 1
			path: Classes/Interfaces/AccessibleObject.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(mixed &\\$arg2 second argument given to method \\$methodName\\)\\: Unexpected token \"&\", expected variable at offset 268$#"
			count: 1
			path: Classes/Interfaces/AccessibleObject.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(mixed &\\$arg3 third argument given to method \\$methodName\\)\\: Unexpected token \"&\", expected variable at offset 339$#"
			count: 1
			path: Classes/Interfaces/AccessibleObject.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(mixed &\\$arg4 fourth argument given to method \\$methodName\\)\\: Unexpected token \"&\", expected variable at offset 409$#"
			count: 1
			path: Classes/Interfaces/AccessibleObject.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(mixed &\\$arg5 fifth argument given to method \\$methodName\\)\\: Unexpected token \"&\", expected variable at offset 480$#"
			count: 1
			path: Classes/Interfaces/AccessibleObject.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(mixed &\\$arg6 sixth argument given to method \\$methodName\\)\\: Unexpected token \"&\", expected variable at offset 550$#"
			count: 1
			path: Classes/Interfaces/AccessibleObject.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(mixed &\\$arg7 seventh argument given to method \\$methodName\\)\\: Unexpected token \"&\", expected variable at offset 620$#"
			count: 1
			path: Classes/Interfaces/AccessibleObject.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(mixed &\\$arg8 eighth argument given to method \\$methodName\\)\\: Unexpected token \"&\", expected variable at offset 692$#"
			count: 1
			path: Classes/Interfaces/AccessibleObject.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(mixed &\\$arg9 ninth argument given to method \\$methodName\\)\\: Unexpected token \"&\", expected variable at offset 763$#"
			count: 1
			path: Classes/Interfaces/AccessibleObject.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(mixed &\\$value the new value for the property defined in \\$propertyName\\)\\: Unexpected token \"&\", expected variable at offset 169$#"
			count: 1
			path: Classes/Interfaces/AccessibleObject.php

		-
			message: "#^Method OliverKlee\\\\PhpUnit\\\\Interfaces\\\\AccessibleObject\\:\\:_call\\(\\) invoked with 10 parameters, 1 required\\.$#"
			count: 1
			path: Tests/Unit/TestCaseTest.php

		-
			message: "#^Method OliverKlee\\\\PhpUnit\\\\Interfaces\\\\AccessibleObject\\:\\:_call\\(\\) invoked with 11 parameters, 1 required\\.$#"
			count: 1
			path: Tests/Unit/TestCaseTest.php

		-
			message: "#^Method OliverKlee\\\\PhpUnit\\\\Interfaces\\\\AccessibleObject\\:\\:_call\\(\\) invoked with 9 parameters, 1 required\\.$#"
			count: 1
			path: Tests/Unit/TestCaseTest.php

		-
			message: "#^Method OliverKlee\\\\PhpUnit\\\\Interfaces\\\\AccessibleObject\\:\\:_callRef\\(\\) invoked with 11 parameters, 1\\-10 required\\.$#"
			count: 1
			path: Tests/Unit/TestCaseTest.php

