@CHARSET "ISO-8859-1";

p {
	margin-bottom: 8px;
}

/* Section to remedy to idiocy of web-fools having created the Typo3 4 default skin */
a {
	color : blue;
}

a:hover {
	color : blue;
	text-decoration : underline;
}

p, div, body, input, select, textarea, .defstyle {
	color : black;
}

h1, h2, h3, h4 {
	background-color : transparent;
	color : black;
	text-align: left;
}

/* Temporary bugfix for issue http://bugs.typo3.org/view.php?id=7631 */
body#typo3-mod-php {
    overflow: auto;
}

/* Now we have a somewhat sane setup. Let's style get to work styling. */

.progress-bar-wrap {
	height: 2em;
	margin-bottom : 1em;
	border : 1px solid black;
	background-color : white;
	width : 100%;
}

#progress-bar,
#transparent-bar  {
	border : 0;
	height : 100%;
}

#progress-bar {
	float : left;
}

#transparent-bar {
	float: left;
	background-color: grey;
}

.alltests {
	border-top : 1px solid #999999;
	border-bottom : 1px solid #999999;
}

.wasSuccessful {
	background-color: green;
}

.hadFailure {
	background-color: yellow;
}

.hadError {
	background-color: red;
}

.inCompleteTest {
	color: grey;
}

.message {
	margin : 0.5em;
	border : 1px solid #eeeeee;
	padding : 0.5em;
	margin-left: 0.2em;
	background-color: white;
}

.testcaseOutput,
.testcaseFailure,
.testcaseError {
	padding : 0.2em 0 0.2em 0;
	padding-left : 0.3em;
	margin: 0.3em 0 0.3em 0;
	background-color: #f1fff1;
}

.testcaseOutput {
	border-left : 2px solid lightgreen;
}

.testcaseFailure {
	border-left : 2px solid yellow;
	background-color: #fffec3;
}

.testcaseError {
	border-left : 2px solid red;
	background-color: ffc3c3;
}

.tx_phpunit_testcase_progressbox {
	border : 1px solid black;
	float: left;
}

