@CHARSET "ISO-8859-1";

body {
	background-color: white;
}

.progress-bar-wrap {
	height: 2em;
	margin-bottom : 1em;
	border : 1px solid black;
	background-color : white;
	width : 100%;
}

#progress-bar, 
#transparent-bar  {
	border : 0;
	height : 100%;
}

#progress-bar {
	float : left;
}

#transparent-bar {
	float: left;
	background-color: grey;
}

.alltests {
	border-top : 1px solid #999999;	
	border-bottom : 1px solid #999999;	
}

.wasSuccessful {
	background-color: green;
}

.hadFailure {
	background-color: yellow;
}

.hadError {
	background-color: red;	
}
	
.inCompleteTest {
	color: grey;	
}

.message {
	white-space : pre;
	margin : 0.5em;
	border : 1px solid #eeeeee;
	padding : 0.5em;
	margin-left: 0.2em;
	background-color: white;
}

.testcaseOutput {
	border-left : 2px solid lightgreen;
	padding : 0.2em 0 0.2em 0;
	padding-left : 0.3em;
	margin: 0.3em 0 0.3em 0;
	background-color: #f1fff1;	
}

.testcaseFailure {
	border-left : 2px solid yellow;
	padding : 0.2em 0 0.2em 0;
	padding-left : 0.3em;
	margin: 0.3em 0 0.3em 0;
	background-color: #fffff1;
}

.testcaseError {
	border-left : 2px solid red;
	padding : 0.2em 0 0.2em 0;
	padding-left : 0.3em;
	margin: 0.3em 0 0.3em 0;
	background-color: #fff1f1;
}
