div.typo3-bigDoc {
	width: 95%;
}

h3 {
	font-size: 100%;
	margin: 0;
	padding: 0;
}

p {
	margin-bottom: 8px;
}

a {
	color: blue;
}

a:hover {
	color: blue;
	text-decoration: underline;
}

p, div, body, input, select, textarea, .defstyle {
	color: black;
}

/* Safari hack, http://dustinbrewer.com/css-hackgetting-safari-to-behave/ */
@media screen and (-webkit-min-device-pixel-ratio:0) {
	form select {
		text-indent: 18px;
	}
}

#opennewwindow {
	text-decoration: none;
}

#opennewwindow:hover {
	background-color: white;
}

h1, h2, h3, h4 {
	background-color: transparent;
	color: black;
	text-align: left;
}

.access-key {
	text-decoration: underline;
}

/* Temporary bugfix for issue http://bugs.typo3.org/view.php?id=7631 */
body#typo3-mod-php {
	overflow: auto;
}

.progress-bar-wrap {
	height: 2em;
	margin-bottom: 1em;
	border: 1px solid black;
	background-color: white;
	width: 800px;
}

#progress-bar {
	border: 0;
	height: 100%;
	width: 0;
	float: left;
}

.alltests {
	border-top: 1px solid #999999;
	border-bottom: 1px solid #999999;
}

.testcaseOutput .message {
	margin: 4px;
	border: 1px solid #999;
	padding: 4px;
	background-color: white;
}

.testcaseOutput {
	margin: 0 0 2px 0;
	padding: 0;
	background-color: #fff;
}

.testcaseOutput img.runner {
	border: 1px solid transparent;
	vertical-align: middle;
	padding: 0 2px;
}
.testcaseOutput img.runner:hover {
	background-image: url(/typo3conf/ext/phpunit/Resources/Public/Icons/RunnerRunning.gif);
	background-repeat: no-repeat;
	background-position: 2px 0;
}

.testcaseOutput pre.message {
	white-space: normal;
}

.testcaseOutput {
	border: 1px solid #999;
}

.testcaseOutput h3 {
	padding: 2px 4px;
	background-color: #afa;
}

.testcaseFailure h3 {
	background-color: #ffa;
}

.testcaseError h3 {
	background-color: #faa;
}

.testcaseIncomplete h3 {
	background-color: #d3d3d3;
}

.testcaseSkipped h3 {
	background-color: #d3d3d3;
}

.testcaseOutput div {
	padding: 0;
	margin: 0;
}

.tx_phpunit_testcase_progressbox {
	background-color: aqua;
	width: 100%;
	height: 100%;
	border: 1px solid black;
	float: left;
}

#testsHaveFinished {
	display: none;
}

/*
 * Changes to general layout
 */
#doc3 {
	margin: 0;
	padding: 0;
}

html {
	background-color: #f8f8f8;
}

th, td {
	border: 0;
}

.testSuiteName {
	font-size: 13px;
}
.wasSuccessful {
	background-color: #0f0;
}
.hadFailure {
	color: #000;
	background-color: #ff0;
}
.hadError {
	color: #000;
	background-color: #f33;
}
h2.wasSuccessful, h2.hadFailure, h2.hadError {
	padding: 2px 5px;
	border: 1px solid #000;
	width: 790px;
}
